<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>SignupLoginApp</display-name>
  <servlet>
  	<servlet-name>signup</servlet-name>
  	<servlet-class>com.app.servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>signup</servlet-name>
  	<url-pattern>/signupurl</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>login</servlet-name>
  	<servlet-class>com.app.servlet.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>login</servlet-name>
  	<url-pattern>/loginurl</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>reset</servlet-name>
  	<servlet-class>com.app.servlet.ResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>reset</servlet-name>
  	<url-pattern>/reseturl</url-pattern>
  </servlet-mapping>
</web-app>